
.default {
    background: white;
}
.bkcolor {
    background: #1b68b3;
}

.tableHover :hover {
    color: black;
    background-color: #e8e8e8;
}
.tableHover{
    width: 300px;
    height: 550px;
    overflow-y: scroll;
    float: left;
    position:relative;


}
.details{
    width:500px;
    display: flex;
    justify-content: center;
}
.tableSelected {
    background-color: #1b68b3;
}

.container {
    width: 900px;
    max-height: 600px;
}